/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Estilos do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos das seções */
section {
    padding: 50px 20px;
    text-align: center;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section li {
    margin: 20px;
    text-align: center;
}

section li img {
    margin-bottom: 10px;
}

section li h3 {
    font-size: 24px;
    margin: 10px 0;
}

section li p {
    font-size: 18px;
}

/* Estilos do formulário de contato */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form label, form input, form textarea {
    display: block;
    margin-bottom: 10px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

form input[type="submit"]:hover {
    background-color: #fe6666;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


